<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462250705061-e1jmgv2fkjg5b25qlp63dkt1cqm7q3ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462250705061-e1jmgv2fkjg5b25qlp63dkt1cqm7q3ss</string>
	<key>API_KEY</key>
	<string>AIzaSyBSd8heh6KVGn0NVuBQPDKJhjq60e_m9VA</string>
	<key>GCM_SENDER_ID</key>
	<string>462250705061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukoshi.gallery</string>
	<key>PROJECT_ID</key>
	<string>sukoshi-gallery</string>
	<key>STORAGE_BUCKET</key>
	<string>sukoshi-gallery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462250705061:ios:12651706a7b360e2</string>
	<key>DATABASE_URL</key>
	<string>https://sukoshi-gallery.firebaseio.com</string>
</dict>
</plist>